
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');



.title {
    text-align: center;
    border-bottom: 3px solid rgb(40, 40, 44);
    color: black;
    font-size:60px;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    margin-top:100vh ;
}
body {
    color: white;
    font-family: "Rubik Wet Paint";
    background-image:url(word2.jpg); 
    background-size: cover;
    /* background-repeat: no-repeat; */


}
#back{
    font-size: 25px;
    background-image: linear-gradient(rgb(198, 190, 179),rgb(163, 128, 86));
    border: 1px solid light rgb(91, 91, 91);
    border-radius: 35px;
    color: white;
    width: 10%;
    font-family: "Rubik Wet Paint";
    position:absolute;
    left:40px;
    top:40px;
    
  }
.container{
    height: 200px;
    display: flex;
    row-gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hint {
    margin: 0;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 15px;
}

#userInput {
    color: rgb(103, 88, 88);
    background-color: rgba(248, 248, 248, 0.368);
    border: 2px solid rgb(38, 38, 117);
    padding: 5px;
    border-radius: 5px;
}

.button {
    padding: 5px 65px;
    border: none;
    margin-top: 10px;
    border-radius:5px;
    background-color: rgb(167, 197, 232);
    font-size: 20px;
    font-weight: 300;
    cursor:pointer;
}